config/*
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.vscode/
.vscode/.react

# macOS
.DS_Store
firebase/family-assistance-f5ebb-firebase-adminsdk-xy08r-e584bdd8cb.json
